{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
    <h1>Créer un nouveau jeu</h1>

    <div class="card">
        {{ include('game/_form.html.twig') }}
    </div>
    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}
