{% extends 'base.html.twig' %}

{% block title %}BGOproto - Ajouter un ami{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Ajouter un ami</h1>
    {{ include('friend/_form.html.twig') }}
{% endblock %}
