* {
    box-sizing: border-box;
}

img {
    margin-top: 10px;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

iframe {
    max-width: 100%;
    display: block;
}

/* Supprimer les puces */
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:white ;
    transition:all;
}