{% extends 'base.html.twig' %}

{% block title %}New Gameroom{% endblock %}

{% block body %}
    <div class="container">
        <h1>Récap lancement de partie</h1>
        <div class="w-50 ">
            {{ include('gameroom/_form.html.twig') }}
        </div>
        <div class="mt-4">
            <a href="{{ path('app_gameroom_index') }}">Commencer la partie</a>
        </div>

    </div>
{% endblock %}
