{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="mt-5 container-md border">
        <div class="row" style="width: 42rem;">
            <div class="mt-5 ms-5 mb-5 col-6 bg-dark text-center text-light" style="
            width: 200px; height: 200px">
            </div>
            <div class="mt-5 ms-5 col-6">
                <p>Username</p>
{#                <p>{{ user.username }}</p>#}
                <p>Username.info</p>
                <p>Username.info</p>
            </div>
        </div>
    </div>
    <div class="mt-5 row justify-content-around">
        <div class="col-5">
            <a class="btn btn-primary" href="{{ path('app_friend_index') }}">Voir la liste d'amis</a>
            <a class="btn btn-primary" href="{{ path('app_edit_password', {'id': app.user.id} ) }}">Modifier le mot de passe</a>
        </div>
    </div>
{% endblock %}
