{% extends 'base.html.twig' %}

{% block title %}Terms of use{% endblock %}

{% block body %}
    <div class="container">
    <h1>Conditions d'utilisation</h1>
    <p>Merci d'utiliser notre application web ! Avant de continuer, veuillez lire attentivement les conditions d'utilisation ci-dessous :</p>

    <h2>Acceptation des conditions d'utilisation :</h2>
    <p>En utilisant notre application web, vous acceptez de vous conformer à ces conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre application.</p>

    <h2>Utilisation autorisée :</h2>
    <p>Notre application est destinée à un usage personnel et non commercial. Vous pouvez utiliser notre application uniquement à des fins légales et conformément aux présentes conditions d'utilisation.</p>

    <h2>Compte utilisateur :</h2>
    <p>Certains services de notre application peuvent nécessiter la création d'un compte utilisateur. Vous êtes responsable de maintenir la confidentialité de votre compte et de votre mot de passe, ainsi que de toutes les activités qui se produisent sous votre compte.</p>

    <h2>Contenu utilisateur :</h2>
    <p>Vous pouvez soumettre du contenu à notre application, tel que des commentaires, des avis ou des téléchargements. En soumettant du contenu, vous garantissez que vous avez le droit de le faire et que ce contenu ne viole pas les droits d'autrui ou les lois applicables.</p>

    <h2>Propriété intellectuelle :</h2>
    <p>Notre application et tout son contenu, y compris mais sans s'y limiter les textes, les images, les logos et les marques de commerce, sont protégés par les lois sur la propriété intellectuelle. Vous acceptez de respecter tous les droits de propriété intellectuelle liés à notre application.</p>

    <h2>Limitation de responsabilité :</h2>
    <p>Nous nous efforçons de fournir une application de haute qualité, mais nous ne pouvons pas garantir son fonctionnement continu ou sans erreur. En utilisant notre application, vous reconnaissez que nous ne sommes pas responsables des dommages directs, indirects, spéciaux, consécutifs ou accessoires qui pourraient résulter de votre utilisation de notre application.</p>

    <h2>Modifications des conditions d'utilisation :</h2>
    <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications seront effectives dès leur publication sur notre application. Il est de votre responsabilité de consulter régulièrement ces conditions pour prendre connaissance des éventuelles modifications.</p>

    <p>En continuant à utiliser notre application, vous confirmez avoir lu, compris et accepté les présentes conditions d'utilisation. Si vous avez des questions ou des préoccupations concernant ces conditions, veuillez nous contacter à l'adresse indiquée ci-dessous.</p>

    <footer>
        <p>Contactez-nous à support@example.com pour toute question ou préoccupation.</p>
    </footer>
    </div>
{% endblock %}